<!DOCTYPE>

<html>

	<head>
		<link rel="stylesheet" href="/assets/css/knacss-unminified.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>

	<body>
		 
		<main id="main" class="container center-b bspace-6">
			
			<section class="autogrid section-title">
				<div class="txtcenter">
					<h1><%= locals.lang.title %></h1><br>
					<p><%= locals.lang.subtitle %></p>
				</div>
			</section>

			<div id="alert-erreur" class="alert alert--danger" role="alert" style="display: none ; "></div>

			<section class="autogrid section-form">
			    <div class="form-content center-b">
					<form action="#">
						<ul class="is-unstyled">
						    <li class="form-item">
						      	<input id="input-email" class="form-input" type="text" placeholder="<%= locals.lang.email %>">
						    </li>
						</ul>
					</form>
			    </div>
			</section>

			<div class="txtcenter">
				<button id="submit-button" class="btn--primary btn-large">
					<%= locals.lang.submit %>
					<div style="font-size:16px" class="ld ld-ring ld-cycle"></div>
				</button>
			</div>
			
			<div class="txtcenter tspace-6">
			    <span><a class="under-hov col-hov" href="/login"><%= locals.lang.login %></a></span> | <span><a class="under-hov col-hov" href="/signup"><%= locals.lang.sign_up %></a></span>
			    
			</div>

		</main>


		<main id="main-success" class="container center-b bspace-6"  style="display: none;">
			
			<section class="autogrid section-title">
				<div class="txtcenter">
					<h1><%= locals.lang.title %></h1><br>
					<p></p>
				</div>
			</section>

			<div id="alert-erreur" class="alert alert--success" role="alert" ><%= locals.lang.alert %></div>

		</main>
		
		<script src="/assets/js/forgot.js"></script>
	</body>

</html>