<!DOCTYPE>

<html>

	<head>
		<link rel="stylesheet" href="/assets/css/knacss-unminified.css">
		<link rel="stylesheet" href="/assets/css/index.css">
	</head>

	<body>

		<main class="container center-b bspace-6">
			<!-- Il y a des erreurs -->		
			<% if( locals.erreur ) { %>
				<div style="text-align: center;">
					<h1><%= locals.lang.title %></h1><br>
				</div>
				<div class="alert alert--danger" role="alert">
				  	<%= locals.erreur %>
				</div>

			<% } else{%>
				<section class="autogrid section-title">
					<div class="txtcenter">
						<h1><%= locals.lang.title %></h1><br>
						<p><%= locals.lang.subtitle %></p>
					</div>
				</section>

				<div id="alert-erreur" class="alert alert--danger" role="alert" style="display: none ; "></div>

				<section class="autogrid section-form">
				    <div class="form-content center-b">
						<form action="#">
							<ul class="is-unstyled">
							    
							    <input id="input-id" class="form-input" type="hidden" value="<%= user.id %>">
							    
							    <li class="form-item">
							      	<input id="input-username" disabled="disabled" class="form-input" type="text" value="<%= user.given_name %> <%= user.family_name %>">
							    </li>
							    <li class="form-item">
							      	<input id="input-email" disabled="disabled" class="form-input" type="text" value="<%= user.email_addresses[0].email %>">
							    </li>
							    <li class="form-item">
							      	<input id="input-pass" name="password" class="form-input" type="password" placeholder="<%= locals.lang.pass %>">
							      	<span class="form-error"><%= locals.lang.user_error %></span>
							    </li>
							    <li class="form-item">
							      	<input id="input-conf-pass" name="confpassword" class="form-input" type="password" placeholder="<%= locals.lang.pass %>">
							      	<span class="form-error"><%= locals.lang.user_error %></span>
							    </li>
							</ul>

						</form>
				    </div>
				</section>

				<div class="txtcenter">
					<button id="submit-button" class="btn--primary btn-large">
						<%= locals.lang.submit %>
						<div style="font-size:16px" class="ld ld-ring ld-cycle"></div>
					</button>
				</div>

				<div class="txtcenter tspace-6">
				    <span><span><a class="under-hov col-hov" href="#"><%= locals.lang.login %></a></span>
				    
				</div>
		
				<script src="/assets/js/sinup.js"></script>

			<% } %>
		</main>

	</body>

</html>